.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(tablet) {
    min-height: 400px;
  }
}

.mid-size-hero {
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}