@import url('https://fonts.googleapis.com/css?family=Cabin:400,600|Lobster');

$headerfont: 'Lobster', cursive;
$secondaryfont:  'Cabin', sans-serif;

$primary: #87B6A7;
$secondary: #96BBBB;
$accent: #E3F09B;

$bgwhite: #F7F7F7;
$bgdark: #54494B;
$offblack: #555;
